# optional. Comma separated list of gelbooru credentials to authenticate with. The api will
# rotate between them to avoid limits on a single key. If these aren't blank they must contain
# the same number of entries
GELBOORU_USERID=
GELBOORU_APIKEY=

# Required. Used for creating user auth tokens. Run this to generate a new key:
# $ python -c 'import secrets; print(secrets.token_urlsafe(32))'
SECRET_KEY=test
