GELBOORU_USERID=
GELBOORU_APIKEY=

# comma separated list of ja4h fingerprints for clients that
# will be getting coal for christmas
NAUGHTY_JA4H_FINGERPRINTS=

# comma separated list of post hashes to use for images. leave
# blank to generate fake ones
FAKEDATA_POST_HASHES=
