{$CADDY_HOST:localhost}, www.{$CADDY_HOST:localhost} {
	encode
	file_server

	log stderr-log {
		level INFO
		output stderr
	}

	# Used to expose a file log for fail2ban
	log file-log {
		level INFO
		format transform "{common_log}"
		output file /var/log/caddy.log {
			roll_size 5MiB
			roll_keep 0
		}
	}

	@longUrl expression {path}.size() > 2000
	error @longUrl "URI Too Long" 414

	handle_path /api/* {
		reverse_proxy http://api:8000
	}

	handle_errors {
		respond "{err.status_code} {err.status_text}"
	}
}

{$GRAFANA_HOST:grafana.localhost} {
	reverse_proxy http://grafana:3000
}
