{
    order geo_ip first

    servers {
        timeouts {
            read_body   20s
            read_header 10s
            write       20s
        }
    }
}

# Snippet for dropping the request
(GETGHOSTED) {
    log_skip
    abort
}

{$CADDY_HOST} {
    encode
    request_body {
        max_size 10MB
    }

    log stderr-log {
        level INFO
        output stderr
    }

    # Used to expose a file log for fail2ban
    log file-log {
        level INFO
        output file /var/log/caddy/caddy.log {
            mode 644
        }
    }

    # Assets are hashed and never change so are safe to cache
    header /assets/* Cache-Control "max-age=31536000, immutable"

    # API responses shouldn't be cached by clients, they are too volatile and cached by the API anyway
    header /api/* Cache-Control "no-store"

    # Global headers
    # https://cheatsheetseries.owasp.org/cheatsheets/HTTP_Headers_Cheat_Sheet.html
    header {
        Referrer-Policy                 "same-origin"
        X-Frame-Options                 "DENY"
        X-Content-Type-Options          "nosniff"
        Strict-Transport-Security       "max-age=2592000; includeSubDomains"
        Cross-Origin-Opener-Policy      "same-origin"
        Cross-Origin-Resource-Policy    "same-site"
        Content-Security-Policy         "default-src 'self'; style-src 'self' 'unsafe-inline'; img-src 'self' gelbooru.com *.gelbooru.com {$MEDIA_PROXY_HOST_SCHEMELESS}; media-src 'self' gelbooru.com *.gelbooru.com {$MEDIA_PROXY_HOST_SCHEMELESS}; object-src 'none'; frame-src 'none'; base-uri 'none'"
    }

    # Scrapers and other junk
    @cfWorkers header Cf-Worker *

    handle @cfWorkers {
        log_skip
        abort
    }

    @naughtyUserAgents {
        # Literally just spams favicon.ico. Not related with DuckDuckGo
        header User-Agent *ddg_win*
    }

    handle @naughtyUserAgents {
        log_skip
        abort
    }

    @longUrl expression {path}.size() > 3000
    error @longUrl "URI Too Long" 414

    # DuckDuckGo browser spams these even if they are present
    @ddg {
        header  User-Agent      *DuckDuckGo*
        header  User-Agent      *com.duckduckgo.mobile*
        path    /favicon.ico    /apple-touch-icon.png
    }
    handle @ddg {
        import GETGHOSTED
    }

    # Hauwei browser
    @openHarmony {
        header  User-Agent      *OpenHarmony*
        path    /favicon.png    /favicon-64.png
    }
    handle @openHarmony {
        import GETGHOSTED
    }

    @stopFuckingSpammingFavicons {
        header  X-Requested-With    idm.internet.download.manager
        path    /favicon.png        /favicon-64.png
    }
    handle @stopFuckingSpammingFavicons {
        import GETGHOSTED
    }

    handle_errors {
        respond "{err.status_code} {err.status_text}"
    }

    handle_path /api/* {
        geo_ip {
            db_path /etc/caddy/GeoLite2-Country.mmdb
        }
        log_append country {geoip.country_code}
        reverse_proxy http://api:8000
    }

    # Handle these explicitly so we don't fallback to index.html and incorrectly serve a 200
    @static path /assets/* *.html *.css *.js *.png *.jpg *.ico *.txt
    handle @static {
        file_server
    }

    route {
        file_server {
            # Ensure API handles index.html
            hide index.html

            # If the file isn't found, continue to the reverse_proxy handler instead of 404
            pass_thru
        }

        reverse_proxy http://api:8000 {
            rewrite /index.html
            header_down Cache-Control no-store
        }
    }
}

{$GRAFANA_HOST:grafana.localhost} {
    reverse_proxy http://grafana:3000
}
