@import "./colors";

.btn-primary {
    $bg: $color-primary;
    $border: $color-primary-lighter;

    background-color: $bg;
    border: 1px solid $border;
    color: $color-primary-light;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px;
    font-size: 16px;

    &:hover {
        background-color: lighten($bg, 2.5%);
        border-color: lighten($border, 2.5%);
    }

    &:disabled {
        cursor: default;
        background-color: darken($bg, 2.5%);
        border-color: darken($border, 2.5%);
    }
}
