$color-bg: #151515;
$color-sidebar: darken($color-bg, 2.5%);
$color-darkgray: #202020;
$color-gray: #303030;
$color-lightgray: #555;

$color-primary: #342b3a;
$color-primary-darker: darken($color-primary, 5%);
$color-primary-lighter: #695675;
$color-primary-light: #bb9fce;
